<launch>
  <!-- Map Parameters -->
  <rosparam param="/grid_dimension">17.5</rosparam>
  <rosparam param="/grid_blocks">10</rosparam>
  <rosparam param="/visbility_blocks">4</rosparam>


  <!-- MOTION CONTROL HARDWARE CONTROL LAUNCH FILE -->
  <include file="$(find motion_control)/launch/motion_control.launch"/>

  <!-- GO TO GOAL NODE -->
  <node pkg="go_to_goal" type="mod_go1.py" name="go_to_goal_rob1" output="screen"/>

  <!-- PATH PLANNING NODE -->
  <node pkg="path_planning" type="a_star_ros1.py" name="a_star_rob1" output="screen"/>

  <!-- FORMATION NODE -->
  <node pkg="swarm_formation_19" type="formation.py" name="formation_rob1" output="screen">
     <!-- Robot Identifier Number -->
     <rosparam param="~robot_id">1</rosparam>

     <remap from="formation_node_rob1" to="formation_node_rob1" />
  </node>
</launch>
